<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cosmo/bootstrap.min.css" />
	<script src= "https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" ></script>
<meta charset="ISO-8859-1">
<title>Login</title>
</head>
<body>
<div class="container mt-3">
<form  action="#" th:action="@{/checkuser}" th:object="${loginuser}" method="post">
<div class="mb-3 mt-3">
<label for="user_id" class="form-label">User Id:</label>
<input type="text" th:field="*{user_id}" name="user_id" placeholder="USER" class="form-control">
</div>
<div class="mb-3">
<label for="pass" class="form-label">Password:</label>
<input type="password" th:field="*{password}" name="password" placeholder="PASSWORD" class="form-control">
</div>
<button class="btn btn-primary">Submit</button>
</form>
<p th:text="${invaliduser}" class="text-danger"></p>
</div>
</body>
</html>